<% content_for :head do %>
	<%= stylesheet_link_tag "home" %>
	<%= stylesheet_link_tag "general" %>
<% end %>

<%= render :partial => "nav_bar" %>
link to diagnostic test:
<%= link_to "this is the test", take_test_path(:test_id => -1) %>

<br>
link to schedule

<br>
link to a timed test:

<%= link_to "this is the timed test", take_timed_test_path(:test_id => -1) %>
<br>

<%= link_to "Sign out", signout_path %>

				<div class="grid_6" id="lesson">
					stuff
				</div>
				<div class="grid_6" id="other">
				more stuff
				</div>
